@import "../../sass/style.scss";

.bannerStyle {
  width: 100%;
  margin: auto;
  background-color: $mainColor;
  height: 90vh;
  position: relative;
  background-image: url("../../assets//images/backgroundImage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // padding: 10px 0 200px 0;
  // @media #{$largeDesktop} {
  //   height: 800px;
  // }
  @media #{$tablet} {
    height: 100vh;
  }
  // @media #{$nonDesk} {
  //   height: 79vh;
  // }

}
