@import "../../sass/style.scss";

.allContainer {
  background-color: $mainColor;
  // background-color: green;
  width: 95%;
  margin: auto;
  border-radius: 20px;
  padding: 20px 20px 15px 20px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 340px;
  transform: translate(-50%, -50%);
  z-index: 100000000000000000;
  @media #{$mobile} {
    width: 93%;
    top: 280px;
    padding: 10px 20px 60px 20px;
  }
  @media #{$tablet} {
    top: 345px;
    width: 93%;
  }
  @media #{$minimobile} {
    width: 85%;
    top: 290px;
  }

}

.titleClose {
  @include flex;
  margin-bottom: 15px;
  @media #{$mobile} {
    margin-bottom: 8px;
  }
}

.title {
  color: $white;
  font-family: $boldfont;
  font-size: 25px;
  @media #{$mobile} {
    font-size: 10px;
  }
  @media #{$minimobile} {
    font-size: 12px;
  }
  @media #{$tablet} {
    font-size: 18px;
  }
}

.closeSign {
  color: $profileMainColor;
  font-size: 35px;
  position: absolute;
  right: 8%;
  font-family: $boldfont;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 20px;
  }
  @media #{$minimobile} {
    font-size: 20px;
    right: 14%;
  }
  @media #{$tablet} {
    font-size: 22px;
  }
}

.flashSign {
  color: $profileMainColor;
  font-size: 30px;
  position: absolute;
  right: 90%;
  font-family: $boldfont;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 20px;
  }
  @media #{$minimobile} {
    font-size: 20px;
    right: 80%;
  }
}

// .btnContainer{
//   padding-bottom: 180px;
// }


.lineSeperate {
  width: 90%;
  margin: auto;
  background-color: $white;
  height: 2px;
  margin-bottom: 20px;
  @media #{$mobile} {
    height: 1px;
    margin-bottom: 40px;
  }
}

.inputAllCont {
  margin-bottom: 30px;
  @media #{$mobile} {
    margin-bottom: 80px;
  }
}


.textStyle {
  color: $white;
  display: block;
  margin-left: 30px;
  font-family: $boldfont;
  @media #{$mobile} {
    font-size: 10px;
    margin-left: 10px;
  }
  @media #{$minimobile} {
    font-size: 10px;
  }
}

.inputStyle {
  border-radius: 83px;
  width: 90%;
  margin-left: 20px;
  padding: 10px;
  outline: none;
  margin-bottom: 25px;
  font-size: medium;
  font-family: $boldfont;
  // margin-bottom: 20px;
  @media #{$mobile} {
    padding: 5px;
    margin-left: 0;
    font-size: 10px;
  }
  @media #{$minimobile} {
    font-size: 10px;
  }
}
.inputStyleNew {
  border-radius: 83px;
  padding: 10px;
  outline: none;
  font-size: medium;
  font-family: $boldfont;
  background-color: $white;
  cursor: pointer;
  @media #{$mobile} {
    padding: 5px;
    margin-left: 0;
    font-size: 10px;
  }
  @media #{$minimobile} {
    font-size: 10px;
    padding: 5px;
    text-align: center;
  }
  @media #{$tablet} {
    width: 100%;
  }
}

.inputStyleNewOpen {
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-size: medium;
  font-family: $boldfont;
  background-color: $white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  @media #{$mobile} {
    padding: 10px;
    margin-left: 0;
    font-size: 10px;
  }
  @media #{$tablet} {
    font-size: 14px;
  }
  @media #{$minimobile} {
    font-size: 8px;
    padding: 10px;
  }
}

.firstBox {
  width: 93%;
  margin-left: 20px;
  margin-bottom: 1.5px;
  @media #{$mobile} {
    margin-left: 0;
  }
  @media #{$tablet} {
    width: 92%;
  }
}

.secondBox {
  width: 93%;
  margin-left: 20px;
  border-radius: 20px;
  @media #{$mobile} {
    margin-left: 0;
  }
  @media #{$tablet} {
    width: 92%;
  }
}

.secondBoxHide {
  visibility: hidden;
}

.textInputStyleQuetion {
  margin-top: 20px;
  position: absolute;
  width: 95%;
  @media #{$mobile} {
    width: 93%;
  }
  @media #{$tablet} {
    text-align: center;
    width: 92.5%;
    font-size: 14px;
  }
  @media #{$minimobile} {
    width: 89%;
  }
}

.textInputStyleAnswer {
  position: relative;
  top: 200px;
  @media #{$mobile} {
    top: 170px;
  }
}

.textTest {
  display: block;
  background-color: $white;
  padding: 10px 0 10px 10px;
  font-family: $boldfont;
  cursor: pointer;
  &:hover {
    background-color: $profileMainColor;
  }
  @media #{$mobile} {
    margin-left: 0;
    font-size: 10px;
  }
  @media #{$minimobile} {
    font-size: 8px;
  }
  @media #{$tablet} {
    width: 102%;
  }
}

.iconClose {
  color: $black;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 90%;
  margin-top: -30px;
  cursor: pointer;
  font-family: $boldfont;
  @media #{$mobile} {
    left: 84.5%;
    width: 12px;
    margin-top: -20px;
  }
  @media #{$minimobile} {
    left: 79%;
    width: 15px;
    height: 15px;
    margin-top: -20px;
  }
  @media #{$tablet} {
    left: 93%;
  }
}

.lineSeperateNew {
  width: 100%;
  height: 1px;
  background-color: $black;
}

.secureText {
  color: $white;
  font-family: $meduimfont;
  font-weight: 300;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  @media #{$mobile} {
    font-size: 10px;
    width: 100%;
  }
}

.btnRejister {
  background-color: $profileMainColor;
  border-radius: 25px;
  padding: 10px 130px 10px 130px;
  border-color: $profileMainColor;
  border-width: 0;
  font-size: 15px;
  color: $white;
  font-family: $boldfont;
  cursor: pointer;
  margin: auto;
  @include center_middle_align;
  // margin-bottom: 30px;
  @media #{$mobile} {
    font-size: 10px;
    padding: 8px 20px 8px 20px;
  }
  @media #{$tablet} {
    font-size: 10px;
    padding: 10px 45px 10px 40px;
  }
}

.textBtnContainer {
  padding-top: 170px;
  @media #{$mobile} {
    padding-top: 90px;
  }
}

.messageLoaderCont {
  @include flex;
  padding-bottom: 180px;
}

.loaderPosition {
  margin-top: 80px;
  position: absolute;
}

.messageStyle {
  color: red !important ;
  @media #{$mobile,} {
    font-size: 10px;
  }
}

.messageStyleFalse{
  color: green !important ;
  @media #{$mobile,} {
    font-size: 10px;
  }
}
