@import "../../sass/style.scss";

.allContainer {
  position: absolute;
  background-color: #13293e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-radius: 20px;
  width: 65%;
  margin: auto;
  padding: 20px 0 80px 0;
  @media #{$mobile} {
    padding: 20px 0 90px 0;
    width: 80%;
  }
  @media #{$tablet} {
    // padding: 20px 30px 80px 30px;
  }

}

.titleClose {
  @include flex;
  margin-bottom: 15px;
  @media #{$mobile} {
    margin-bottom: 8px;
  }
}

.title {
  color: $white;
  font-family: $boldfont;
  font-size: 25px;
  @media #{$mobile} {
    font-size: 10px;
  }
}

.closeSign {
  color: $profileMainColor;
  font-size: 35px;
  position: absolute;
  right: 8%;
  font-family: $boldfont;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 20px;
  }
}

.lineSeperate {
  width: 90%;
  margin: auto;
  background-color: $white;
  height: 2px;
  margin-bottom: 30px;
  @media #{$mobile} {
    height: 1px;
    margin-bottom: 40px;
  }
}

.giftContainer {
  width: 80%;
  margin: auto;
  @media #{$mobile} {
    width: 90%;
  }
}

.firtBox {
  margin-bottom: 30px;
  @media #{$mobile} {
    margin-bottom: 20px;
  }
}

.textGift {
  color: $white;
  font-size: 18px;
  font-family: $meduimfont;
  font-weight: 300;
  padding-bottom: 10px;
  text-align: center;
  display: block;
  margin-bottom: 5px;
  @media #{$mobile} {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.inputAllCont {
  margin-bottom: 100px;
  @media #{$mobile} {
    margin-bottom: 80px;
  }
}

.inputGift {
  background-color: $white;
  width: 100%;
  margin: auto;
  border-radius: 83px;
  padding: 8px 0 8px 0;
  text-align: center;
  // margin-top: 10px;
  outline: none;
  font-family: $boldfont;
  font-size: 20px;
  @media #{$mobile} {
    font-size: 10px;
  }
}

.btnsGift {
  @include flex($justify-content: space-between);
}



.btnSubmit {
  background-color: $profileMainColor;
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  color: $white;
  font-family: $boldfont;
  border-width: 0;
  font-size: 15px;
  font-family: $boldfont;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 10px;
    max-width: 150px;
    padding: 10px 10px 10px 10px;
    font-size: 10px;
  }
}

.giftMessage {
  font-size: 20px;
  color: $profileMainColor;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  @media #{$mobile} {
    font-size: 10px;
  }
  @media #{$tablet} {
    font-size: 14px;
  }
  @media #{$minimobile} {
    font-size: 8px;
  }
}

.messageLoaderCont {
  @include flex;
  margin-top: 30px;
}

.loaderPosition {
  margin-top: 80px;
  position: absolute;
}

.messageStyle {
  color: red !important ;
  @media #{$mobile,} {
    font-size: 10px;
  }
}

.messageStyleFalse{
  color: green !important ;
  @media #{$mobile,} {
    font-size: 10px;
  }
}

// .firstBox{
//   grid-template-columns: 0;
// }

// .firstBox {
//   width: 93%;
//   margin-left: 20px;
//   margin-bottom: 1.5px;
//   @media #{$mobile} {
//     margin-left: 0;
//   }
//   @media #{$tablet} {
//     width: 92%;
//   }
// }

.secondBox {
  width: 93%; 
  margin-left: 20px;
  border-radius: 20px;
  @media #{$mobile} {
    margin-left: 0;
  }
  @media #{$tablet} {
    width: 92%;
  }
}

