@import "../../sass/style.scss";

.allContainer {
  background-color: $mainColor;
  width: 30%;
  margin: auto;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  margin-top: 180px;
  position: fixed;
  @media #{$mobile} {
    width: 60%;
    margin-top: 50px;
    padding: 10px 15px 10px 15px;
  }
  @media #{$minimobile} {
    width: 70%;
    top: 300px;

  }
  @media #{$tablet} {
    width: 70%;
  }
}

.headerCellsAlone {
  text-align: center;
  font-family: $boldfont;
  font-weight: 300;
  font-size: 16px;
  color: red;
  padding: 15px 0 15px 0;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-bottom: 80px;
  @media #{$mobile} {
    font-size: 8px;
    padding: 0;
  }
}

.paymentWarning {
  font-size: 16px;
  color: $white;
  @include flex;
  font-family: $boldfont;
  margin-bottom: 150px;
  @media #{$mobile} {
    font-size: 7px;
    padding: 0;
  }
  @media #{$minimobile} {
    font-size: 7px;
    padding: 0;
  }
}

.closeSign {
  color: $profileMainColor;
  font-size: 35px;
  position: absolute;
  right: 8%;
  font-family: $boldfont;
  top: 4%;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 20px;
    top: 2%;
  }
  @media #{$tablet} {
    font-size: 22px;
  }
}
