@import "../../sass/style.scss";

.investmentContainer {
  background-color: $mainColor;
  height: 100vh;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  // padding: 10px 20px 40px 40px;
  @media #{$minimobile} {
    padding-top: 20px;
  }
}

.insideContainer {
  width: 90%;
  margin: auto;
  background-color: #13293e;
  border-radius: 20px;
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px 20px 40px 40px;
  @media #{$mobile} {
    width: 90%;
    padding: 10px 10px 10px 10px;
  }
}

.allTable {
  width: 100%;
}

.headerTitle {
  color: $white;
  font-family: $boldfont;
  font-size: 18px;
  @media #{$mobile} {
    font-size: 7px;
  }
  @media #{$minimobile} {
    font-size: 5px;
  }
  @media #{$tablet} {
    font-size: 9px;
  }
}

.headerCells {
  text-align: center;
  font-family: $meduimfont;
  font-weight: 300;
  font-size: 14px;
  color: $white;
  padding: 15px 0 15px 0;
  @media #{$mobile} {
    font-size: 7px;
    padding: 15px 0 15px 0;

  }
  @media #{$minimobile} {
    font-size: 5px;
  }
  @media #{$tablet} {
    font-size: 10px;
    padding: 15px 0 15px 0;
  }
}

.headerCellsAlone {
  text-align: center;
  font-family: $meduimfont;
  font-weight: 300;
  font-size: 16px;
  color: red;
  padding: 15px 0 15px 0;
  text-decoration: underline;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 7px;
    padding: 0;
  }
}

.lineSeperate {
  background-color: $white;
  height: 0.1px;
  padding: 0 0 0 80px;
  @media #{$mobile} {
    padding: 0;
  }
  @media #{$tablet} {
    padding: 0 0 0 70px;
  }
  @media #{$minimobile} {
    padding: 0 0 0 5px;
  }
}

.btnStyle {
  background-color: $profileMainColor;
  border-radius: 25px;
  padding: 8px 5px 8px 5px;
  border-color: $profileMainColor;
  font-size: 12px;
  color: $white;
  font-family: $boldfont;
  cursor: pointer;
  margin-left: 3px;
  border-width: 0;
  margin-left: 5px;
  width: 100%;
  @media #{$mobile} {
    font-size: 6px;
    padding: 0;
    display: none;
  }
  // @media #{$tablet} {
  //   width: 50%;
  // }
}

.btnStyle1 {
  width: 100%;
  @media #{$mobile} {
    font-size: 6px;
    padding: 0;
    display: none;
  }
  // @media #{$tablet} {
  //   width: 50%;
  // }
}

.btnMobile {
  // display: none;
  @media #{$mobile} {
    display: block;
    // background-color: red;
    width: 100%;
    @include flex($direction:column);
  }
}

.btnStyleMobile {
  display: none;
  @media #{$mobile} {
    background-color: $profileMainColor;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    border-color: $profileMainColor;
    font-size: 12px;
    color: $white;
    font-family: $boldfont;
    cursor: pointer;
    border-width: 0;
    font-size: 6px;
    max-width: 100px;
    display: block;
    margin: 2px;
    width: 100%;
  }
  @media #{$minimobile} {
    font-size: 6px;
  }
  @media #{$tablet} {
    background-color: $profileMainColor;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    border-color: $profileMainColor;
    font-size: 12px;
    color: $white;
    font-family: $boldfont;
    cursor: pointer;
    // margin-left: 3px;
    border-width: 0;
    font-size: 6px;
    max-width: 60px;
  }
}

.btnStyleMobile1 {
  display: none;
  @media #{$mobile} {
    background-color: $profileMainColor;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    border-color: $profileMainColor;
    font-size: 12px;
    color: $white;
    font-family: $boldfont;
    cursor: pointer;
    // margin-left: 3px;
    border-width: 0;
    font-size: 6px;
    max-width: 100px;
    display: block;
    margin: 2px;
    margin-top: 10px;
    width: 100%;

  }
  @media #{$minimobile} {
    font-size: 6px;
  }
  @media #{$tablet} {
    background-color: $profileMainColor;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    border-color: $profileMainColor;
    font-size: 12px;
    color: $white;
    font-family: $boldfont;
    cursor: pointer;
    // margin-left: 3px;
    border-width: 0;
    font-size: 6px;
    max-width: 60px;
  }
}

.btnStylelarge {
  @include flex;
  height: 50px;
  @media #{$mobile} {
    height: 0px;
  }
}

.messageLoaderCont {
  @include flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.Warning {
  color: red;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: $boldfont;
  cursor: pointer;
}
