@import "../../sass/style.scss";

.allContainer {
  background-color: $mainColor;
  width: 55%;
  margin: auto;
  border-radius: 20px;
  padding: 50px 20px 80px 20px;
  position: absolute;
  left: 50%;
  // right: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 100000000000000000;
  @media #{$mobile} {
    top: 50%;
  }
  @media #{$tablet} {
    top: 45%;
  }
  @media #{$minimobile} {
    top: 60%;
  }
}

.titleClose {
  @include flex;
  margin-bottom: 15px;
  @media #{$mobile} {
    margin-bottom: 8px;
  }
}

.title {
  color: $white;
  font-family: $boldfont;
  font-size: 25px;
  @media #{$mobile} {
    font-size: 10px;
  }
  @media #{$minimobile} {
    font-size: 12px;
  }
  @media #{$tablet} {
    font-size: 18px;
  }
}

.closeSign {
  color: $profileMainColor;
  font-size: 35px;
  position: absolute;
  right: 8%;
  font-family: $boldfont;
  cursor: pointer;
  @media #{$mobile} {
    font-size: 20px;
  }
  @media #{$minimobile} {
    font-size: 20px;
    right: 14%;
  }
  @media #{$tablet} {
    font-size: 22px;
  }
}

.lineSeperate {
  width: 90%;
  margin: auto;
  background-color: $white;
  height: 2px;
  margin-bottom: 20px;
  @media #{$mobile} {
    height: 1px;
    margin-bottom: 40px;
  }
}

.inputAllCont {
  margin-bottom: 30px;
  @media #{$mobile} {
    margin-bottom: 20px;
  }
}

.eyeOpenStyle {
  position: absolute;
  right: 10%;
  top: 35.5%;
  cursor: pointer;
  @media #{$mobile} {
    right: 14%;
    top: 40.5%;
    width: 12px;
  }
  @media #{$minimobile} {
    right: 13%;
    top: 39%;
  }
  @media #{$tablet} {
    right: 8%;
    top: 34.5%;
  }
}

.eyeOpenStyleNew {
  position: absolute;
  right: 10%;
  top: 35.5%;
  cursor: pointer;
  @media #{$mobile} {
    right: 14%;
    top: 40.5%;
    width: 12px;
  }
  @media #{$minimobile} {
    right: 13%;
    top: 39%;
  }
  @media #{$tablet} {
    right: 8%;
    top: 34.5%;
  }
}

.eyeCLoseStyle {
  position: absolute;
  right: 10%;
  top: 48.5%;
  cursor: pointer;
  @media #{$mobile} {
    right: 14%;
    top: 52.5%;
    width: 12px;
  }
  @media #{$tablet} {
    right: 8%;
    top: 48%;
  }
  @media #{$minimobile} {
    right: 13%;
    top: 50.5%;
  }
}

.eyeCLoseStyleNew {
  position: absolute;
  right: 10%;
  top: 48.5%;
  cursor: pointer;
  @media #{$mobile,} {
    right: 14%;
    top: 52.5%;
    width: 12px;
  }
  @media #{$tablet} {
    right: 8%;
    top: 48%;
  }
  @media #{$minimobile} {
    right: 13%;
    top: 50.5%;
  }
}

.textStyle {
  color: $white;
  display: block;
  margin-left: 30px;
  font-family: $boldfont;
  @media #{$mobile} {
    font-size: 10px;
    margin-left: 10px;
  }
  @media #{$minimobile} {
    font-size: 10px;
  }
}

.inputStyle {
  border-radius: 83px;
  width: 90%;
  margin-left: 20px;
  padding: 10px;
  outline: none;
  margin-bottom: 8px;
  font-size: 20px;
  font-family: $boldfont;
  margin-bottom: 20px;
  @media #{$mobile} {
    padding: 5px;
    margin-left: 0;
    font-size: 10px;
  }
  @media #{$minimobile} {
    font-size: 10px;
  }
}

.iconClose {
  color: $black;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 90%;
  margin-top: -30px;
  cursor: pointer;
  font-family: $boldfont;
  @media #{$mobile} {
    left: 83%;
    font-size: 12px;
  }
  @media #{$minimobile} {
    left: 79%;
    width: 15px;
    height: 15px;
    margin-top: -20px;
  }
}

.secureText {
  color: $white;
  font-family: $meduimfont;
  font-weight: 300;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  @media #{$mobile} {
    font-size: 6px;
    width: 100%;
  }
  @media #{$tablet} {
    font-size: 10px;
    width: 90%;
  }
  @media #{$minimobile} {
    font-size: 8px;
    width: 100%;
  }
}

.btnRejister {
  background-color: $profileMainColor;
  border-radius: 25px;
  padding: 10px 130px 10px 130px;
  border-color: $profileMainColor;
  border-width: 0;
  font-size: 15px;
  color: $white;
  font-family: $boldfont;
  cursor: pointer;
  margin: auto;
  @include center_middle_align;
  // margin-bottom: 30px;
  @media #{$mobile} {
    font-size: 10px;
    padding: 8px 20px 8px 20px;
  }
}

.textBtnContainer {
  padding-top: 80px;
  @media #{$mobile} {
    padding-top: 0;
  }
}

.messageStyle {
  color: red !important ;
  position: absolute;
  top: 86%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -10%);
  @media #{$mobile,} {
    font-size: 10px;
    top: 81%;
  }
  @media #{$tablet} {
    font-size: 12px;
    top: 86%;
  }
  @media #{$minimobile} {
    font-size: 8px;
    top: 70%;
  }
}

.messageStyleFalse {
  color: green !important ;
  position: absolute;
  top: 86%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -10%);
  @media #{$mobile,} {
    font-size: 10px;
    top: 81%;
  }
  @media #{$tablet} {
    font-size: 12px;
    top: 86%;
  }
  @media #{$minimobile} {
    font-size: 8px;
    top: 70%;
  }
}

.loaderPosition {
  margin-top: 40px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, 55%);
  @media #{$mobile,} {
    transform: translate(-50%, 10%);
  }
  @media #{$tablet} {
    transform: translate(-50%, 50%);
  }
}
